img {
  max-width: 300px;
}

ul.peanut {
  list-style-type: "🐶";
}

ul.kitties {
  list-style-type: "🐱";
}


.column {
  float: left;
  width: 300px;
  padding: 0 25px 0 25px;
}

.red {
  color:red;
}

img.intext {
  max-width: 50px;
  float:center;
}

.sidebar {
  width: auto;
  float: right;
  background-color: rgb(103, 103, 194);
  list-style-type: none;
  color: white;
  text-align: center;
  padding:0;
}

.sidebar li  {
  padding: 15px;
  text-transform: uppercase;
  border: 1px solid white;
}