img {
  max-width: 300px;
}

ul.peanut {
  list-style-type: "🐶";
}

ul.kitties {
  list-style-type: "🐱";
}

div {
  display: inline-block;
  width: 40%;
}

.right {
  align:right;
}

.red {
  color:red;
}