img {
  max-width: 300px;
}

ul.peanut {
  list-style-type: "🐶";
}

ul.kitties {
  list-style-type: "🐱";
}


.column {
  float: left;
  width: 300px;
  padding: 0 25px 0 25px;
}

.red {
  color:red;
}